$primary_color: #4A90E2;         
$primary_hover_color: #357ABD;    
$success_color: #6eac2c;          
$success_hover_color: #63a02e;    
$title_color: #333333;            
$bg_color: antiquewhite;
$small_text_color: #666;


body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $bg_color
}

.content{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(248, 246, 244);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, -0, -0.1);
    text-align: center;
    
    h1{
        color: $title_color;
    }

    h4{
        color: $small_text_color;
    }

    table{
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;

        th, td{
            padding: 10px;
            border: 1px solid #ccc;

            th{
                background-color: #f0f0f0;
                color: #333;
            }
        }
    }

    a{
        display: inline-block;
        padding: 8px 16px;
        margin: 5px;
        border-radius: 20px;
        background-color: $primary_color;
        color: #f0f0f0;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover{
            background-color: $primary_hover_color;
        }

    }

    input{
        padding: 10px;
        margin: 5px;
        border: solid 1px;
        border-radius: 5px;
    }

    #btn_add{
        background-color: $success_color;
        color: #f0f0f0;
        cursor: pointer;
        &:hover{
            background-color: $success_hover_color;
        }
    }

    #btn_submit {
        background-color: $success_color;
        color: #f0f0f0;
        cursor: pointer;
        &:hover {
          background-color: $success_hover_color;
        }
      }
      

}